<!-- <app-diretivas-ng-if></app-diretivas-ng-if> -->
<!-- <app-diretivas-ng-switch></app-diretivas-ng-switch> -->
<!-- <app-diretivas-ng-for></app-diretivas-ng-for> -->
<!-- <app-diretiva-ng-class></app-diretiva-ng-class> -->
<!-- <app-diretiva-ng-class></app-diretiva-ng-class> -->
<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content></app-exemplo-ng-content> -->
<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->