.flex {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 40px;
  margin-top: 20px;
  flex-direction: column;
  max-width: 200px;
}
.top {
  margin-top: 100px;
  padding: 40px;
  margin-top: 20px;
}
